<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/taller_mecanico</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialecto de la base de datos -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración adicional -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Clases mapeadas -->
        <mapping class="models.Cliente"/>
        <mapping class="models.Coche"/>
        <mapping class="models.Empleado"/>
        <mapping class="models.Reparacion"/>
        <mapping class="models.Usuario"/>
        <mapping class="models.Venta"/>
    </session-factory>
</hibernate-configuration>
